.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.text {
    width: 30%;
    text-align: justify;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}