.board {
    width: 100%;
    height: 100%;
}

button {
    position: absolute;
    left: 30%;
    top: 30%;
    transition: 0.09s;
    background: radial-gradient(circle, rgba(166,161,170,1) 0%, rgba(0,0,0,1) 100%);
    color:#ffffff;
    border: 2px solid black;
    width: 220px;
    height: 68px;
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
}