body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: gainsboro;
}

div {
    font-size: 22px;
    background-color: white;
    border: 2px solid red;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    margin: 20px;
    color: red;
    font-weight: 700;
}

div:hover {
    color: white;
    background-color: red;
    transition: background 0.3s ease;
}